{#
/**
 * @file
 * Default theme implementation to display a formatted image_link field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - link: A link for the image.
 * - settings: Additional settings of the formatter.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}

{% if settings.link_title_display and link['#title'] and settings.link_title_position == 'before' %}
  <{{ settings.link_title_tag }} class="image-link-title image-link-title-before">
  {{ link }}
  </{{ settings.link_title_tag }}>
{% endif %}

<div class="image-link-image">
  {{ image }}
</div>

{% if settings.link_title_display and link['#title'] and settings.link_title_position == 'after' %}
  <{{ settings.link_title_tag }} class="image-link-title image-link-title-after">
  {{ link }}
  </{{ settings.link_title_tag }}>
{% endif %}

